@using Controllers.ViewModels
@model DashboardViewModel
@{
    ViewData["Title"] = "Отчёт";
    ViewBag.RefreshPage = true;
}

<div class="container">
    <div class="page-header">
        <h1 class="page-title">
            Отчёт за @Model.PeriodFriendly
        </h1>
        <div class="page-options d-flex">
            <a class="btn btn-sm btn-secondary ml-1" href="?ShowButtons=@(!Model.ShowButtons)">
                <span class="fe @(Model.ShowButtons ? "fe-eye-off" : "fe-eye")"></span>
            </a>
            <a class="btn btn-sm btn-secondary ml-1" href="@Url.Action("AddWidget")">
                <span class="fe fe-plus"></span>
            </a>
            <a class="btn btn-sm btn-secondary ml-1" href="?period=1">
                <span class="fe fe-calendar">1M</span>
            </a>
            <a class="btn btn-sm btn-secondary ml-1" href="?period=3">
                <span class="fe fe-calendar">3M</span>
            </a>
            <a class="btn btn-sm btn-secondary ml-1" href="?period=6">
                <span class="fe fe-calendar">6M</span>
            </a>
            <a class="btn btn-sm btn-secondary ml-1" href="?period=0">
                <span class="fe fe-calendar">Всё</span>
            </a>
        </div>
    </div>    
    <div class="row card-columns">

    @foreach (var column in Model.Widgets)
    {
        var mdSize = Math.Min(@column.Columns * 2, 12);
        
        <div class="col-lg-@column.Columns col-md-@mdSize col-sm-12">
            @foreach (var widget in column.Rows)
            {
                <div class="card">
                    @if (Model.ShowButtons)
                    {
                        <div class="card-header">
                            @widget.Title

                            <div class="card-options">
                                <a class="btn btn-sm btn-secondary ml-1" href="@Url.Action("EditWidget", new {id = widget.Id})">
                                    <span class="fe fe-edit">
                                    </span>
                                </a>
                                <a class="btn btn-sm btn-secondary ml-1" href="@Url.Action("DeleteWidget", new {id = widget.Id})">
                                    <span class="fe fe-x-circle">
                                    </span>
                                </a>
                            </div>
                        </div>
                    }

                    <div style="height: @(widget.Rows * 12 * 14 + (widget.Rows - 1) * 12 * 2)px">
                        @{ await Html.RenderPartialAsync(widget.TemplateName, widget); }
                    </div>

                    @if (Model.ShowButtons)
                    {
                        <div class="card-footer mb-5">
                            <a class="float-left btn btn-sm btn-secondary" href="@Url.Action("MoveWidgetLeft", new {widget.Id})">
                                <span class="fe fe-arrow-left"></span>
                            </a>
                            <a class="float-right btn btn-sm btn-secondary" href="@Url.Action("MoveWidgetRight", new {widget.Id})">
                                <span class="fe fe-arrow-right"></span>
                            </a>
                        </div>
                    }
                </div>
            }
        </div>
    }
    </div>
</div>