@using Controllers.ViewModels.Widgets
@model DeltaWidgetViewModel

@{
	var colorSuffix = Model.IncompleteData ? "bg-gray-dark-darkest" : "";
    var styleSuffix = Model.Deltas.Count < 4 ? "mt-5" : "";
}

<div class="card-body p-3 text-center @colorSuffix">
    <div class="h3 @styleSuffix">
        @foreach (var item in Model.Deltas)
        {
            var value = Math.Round(item.Value, 2);

            var prefix = value > 0 ? "+" : "";
            
            var color = value > 0 ? "text-green" : Math.Abs(value) < 0.01 ? "text-blue" : "text-red";
            var direction = value > 0 ? "fe-chevrons-up" : Math.Abs(value) < 0.01 ? "fe-code" : "fe-chevrons-down";  
            
            <div class="text-nowrap">
                <span class="text-muted-dark">&Delta; @item.Name: </span>
                <span class="@color">@prefix@value.ToString("N2")</span>&nbsp;<span class="text-muted-dark">@Model.Ccy</span>
                <span class="fe @color fe @direction"></span>
            </div>
        }
    </div>
    <div class="text-muted">
        @Model.Title
    </div>
</div>