@model List<BudgetTracker.Controllers.ViewModels.Debt.DebtViewModel>

@{
    ViewData["Title"] = "Долги и займы";
}
<div class="container">
    <div class="row row-cards row-deck">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Долги и займы
                    </h3>
                    <div class="card-options">
                        &nbsp;
                        <a class="btn btn-primary btn-sm" href="@Url.Action("AddDebt")">
                            Добавить
                        </a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table card-table table-sm table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Когда выдан</th>
                            <th>Срок (дней)</th>
                            <th>Процентная ставка (годовых)</th>
                            <th>Объём</th>
                            <th>К возврату</th>
                            <th>Выплачено</th>
                            <th>Осталось выплатить</th>
                            <th>Описание</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var debtVm in Model.OrderBy(v=>v.Model.When))
                        {
                            var debt = debtVm.Model;
                            
                            <tr>
                                <td>@debt.When.ToLongDateString()</td>
                                <td>@debt.DaysCount дней</td>
                                <td>@debt.Percentage%</td>
                                <td>@debt.Amount.ToString("N2") @debt.Ccy</td>
                                <td>@debtVm.AmountWithPercentage.ToString("N2") @debt.Ccy</td>
                                <td>@debt.Returned.ToString("N2")</td>
                                <td>@debtVm.RemainingWithPercentage.ToString("N2")</td>
                                <td>@debt.Description</td>
                                <td>
                                    <a href="@Url.Action("EditDebt", new {id = debt.Id})">
                                        <span class="fe fe-edit-2"></span>
                                    </a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>