@using Model
@model Controllers.ViewModels.Sms.SmsListViewModel
@{
    ViewData["Title"] = "SMS";

}
<div class="container">
    <div class="row row-cards row-deck">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        SMS 
                    </h3>
                    <div class="card-options">
                        <a class="btn btn-primary btn-sm" href="@Url.Action("SmsRules")">
                            Правила обработки SMS
                        </a>
                        <a class="btn btn-secondary btn-sm ml-2" href="?ShowHidden=@(!Model.ShowHidden)">
                            @if (Model.ShowHidden)
                            {
                                <text>Скрыть обработанное</text>
                            }
                            else
                            {
                                <text>Показать обработанное</text>
                            }
                        </a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table card-table table-sm table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Когда</th>
                            <th>От кого</th>
                            <th>Сообщение</th>
                            <th>Удалить</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var month in Model.Months)
                        {
                            <tr>
                                <th colspan="4">
                                    <span class="card-title">
                                        <a href="#" data-toggle="collapse" data-target=".collapse-@month.Key" aria-expanded="false" aria-controls="collapse">
                                            @month.When.ToString("MMMM yyyy")
                                        </a>
                                    </span>
                                    <span class="badge badge-secondary">@month.Sms.Count SMS</span>
                                </th>
                            </tr>
    
                            foreach (var sms in month.Sms)
                            {
                                {
                                    <tr class="collapse-@month.Key collapse show">
                                        <td class="text-nowrap">@sms.When</td>
                                        <td>@sms.From</td>
                                        <td>@sms.Message</td>
                                        <td>
                                            <a href="@Url.Action("DeleteSms", new {id = sms.Id})">
                                                <span class="fe fe-x-circle"></span>
                                            </a></td>
                                    </tr>
                                }
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>